*{
 margin: 0;   
 padding: 0;
}

header{
    width: 100%;
}

nav{
    
    margin: 20px;
    width: 90%;
    max-width: 1000px;
}
nav ul{
    list-style: none;
}

nav > ul{
    display: table;
    overflow: hidden;
    width: 100%;
    background: #000;
    position: relative;
}

nav > ul li{
display: table-cell;
}

nav > ul > li:hover > ul{
    display: block;
    height: 100%;
   
}

nav > ul > li > ul{
    display:none;
}



nav > ul li a{ 
    color: #fff;
    display: block;
    line-height: 20px;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

nav > ul > li > ul > li a:hover{
    background: #5da5a2 ;

}

nav > ul > li a span{

    background: #174459;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top:-55px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

nav > ul > li a span {
    display: block;
    line-height: 60px;
}

nav > ul > li a:hover > span{
    top:0;
}

nav ul li a .c1{
    background: #0e5061;
}
nav ul li a .c2{
    background: #579c96;
}
nav ul li a .c3{
    background: #991919;
}
nav ul li a .c4{
    background: #263c6b;
}
nav ul li a .c5{
    background:#57819c ;
}

